Your pipeline #{{.Pipeline.ID}} {{if eq .Pipeline.Status "ok"}}passed{{else}}has failed{{end}}!
    Project:      {{.Project.GroupID}}/{{.Project.ID}}
    Branch:       🌿 {{.Branch}}
    Commit:       {{slice .Commit.Hash 0 8}} {{.Commit.Message}}
    CommitAuthor: {{.Commit.Author}}
{{- if ne .Pipeline.Status "ok"}}
    {{- range .Pipeline.FailedJobs}}
        Stage: {{.Stage}}, Job {{.Name}}
{{- range lastLines .RunnerLog 10}}
            {{.}}
{{- end}}
{{end}}
{{- end -}}
